.pod-list-left-bar {
  color: var(--white);
  width: 336px;
  display: flex;
  flex-direction: column;
  height: 100%;
  box-shadow: 2px 0px 4px -1px rgba(0, 0, 0, 0.2),
    4px 0px 5px 0px rgba(0, 0, 0, 0.14), 1px 0px 10px 0px rgba(0, 0, 0, 0.12);
  background: var(--themeColorDark);

  .pod-list-header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1em;
    .pod-list-header-title {
      text-align: left;
      letter-spacing: 0.9px;
      text-transform: none;
      font-weight: 500;
      line-height: 1.75;
      font-size: 1.2rem;
      margin-left: 12px;
    }
    .add-pod-button {
      min-width: fit-content;
      min-height: 35px;
      padding: 6px 16px;
      font-size: 0.875rem;
      border-radius: 4px;
      letter-spacing: 0.9px;
      text-transform: none;
      font-weight: 500;
      line-height: 1.75;
      transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
        box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
        border 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
      box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2),
        0px 4px 5px 0px rgba(0, 0, 0, 0.14),
        0px 1px 10px 0px rgba(0, 0, 0, 0.12);
      background-color: var(--themeColorBlue);
      border: 1px solid var(--themeColorBlue);
      color: white;
      cursor: pointer;
      outline: none;

      &:hover {
        background-color: darken(#50a6ff, 20);
        border: 1px solid darken(#50a6ff, 20);
      }

      .add-pod-button-title {
        margin-left: 4px;
      }
    }
  }

  .pod-list-container {
    padding: 0em 1em;
    .pod-list-item {
      padding: 8px 12px;
      border-radius: 6px;
      margin-bottom: 4px;
      cursor: pointer;
      &:hover {
        background-color: var(--themeColorHover);
      }
    }
  }
}
